body {
    background-color: #B3B792;
    font-family: 'Inika', serif;
    color: #725C3A;
    display: flex;
    font-size: 20px;
}

#container {
    width: 1200px;
    height: 850px;
    margin: auto;
    background-image: url(images/mad_libs_2.0_design_comp.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}
header {
    padding: 20px;
    width: 350px;
}

h1 {
    font-family: 'Londrina Shadow', sans-serif; 
    font-size: 75px;
}

h2 {
    font-family: 'Londrina Shadow', sans-serif;
    font-size: 48px;
    margin: 0 20px;
    text-align: center;
}

main {
    /* margin-left: 100px; */
    background-color: #E5E0D8;
    padding: 20px;
    margin-top: 20px;
    height: 450px;
}   

input[type="text"]:focus {
    border:1px solid #D6D9DC;
    outline: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

label {
    line-height: 1.5em;
}

input[text="submit"] {
    background-color: #725C3A;
}